__pycache__/
*.py[cod]
*$py.class

*.so

.Python
.\env\
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg
MANIFEST

instance/
.webassets-cache


pip-log.txt
pip-delete-this-directory.txt

instance/
.webassets-cache

 dotenv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/